body {
    background: #2c2c2c;
}

aside {
    float: up;
    background: #181818;
    width: 100%;
    padding: 2.5%;
    height: 20vh;
    color: #fff;
    border-bottom: 5px solid #4d4d4d;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-wieght: bold;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none; margin-top: 20px;}

aside ul li {
    color: #fff;
    display: inline;
    margin-right: 10px;
}

aside ul button {
    float: right;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

main .features ul.Polz {list-style: none;}

main .features ul.Polz il {color: #000000;}

main .features h1 {text-align: center;}

main .features p { margin-left: 20px; text-align: center;}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 39%;
    text-align: left;
}

form {
    text-align: center;
    margin-left: 35%;
    width: 500px;
    margin-top: 30px;
}

form .Zareg {
    margin-top: 20px;
    color: #fff;
}

form .Zareg:hover {
    color: #eb5959;
    text-decoration: none;
}

div .VidySporta {
    display: inline;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    background: #FFFFE0;
    float: left;
}


div .VidySporta a {
    color: #000000;
}

div .VidySporta a:hover {
    color: #FF4500;
    text-decoration: none;
}

div .Upr {
    display: inline;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    background: #FFFFE0;
    float: left;
}

div .BolVidSport {
    margin-left: 150px;
    width: 1600px;
    height: 500px;
}

div .Upr1 {
    width: 1800px;
    height: 1200px;
}

div .Upr p, h4 {
    color: #000000;
}