{% extends 'ProgrammUmnKom/Shablon.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p style="font-size: 20px; text-align:justify; margin-right: 315px; margin-left: 300px; text-indent: 3ch;">
            В наше время, каждый родитель хочет, чтобы его ребенок занимался спортом, был физически развитым и укреплял свое тело, а если подобрать ребенку вид спорта, к которому у него есть предрасположенность, то ребенок может добиться очень высоких результатов. Для достижения высот в спорте очень часта упорства недостаточно, если у человека нет необходимых физических качеств. Поэтому нужно развивать те физические качества, которые заложены в ребенке еще в детстве и подбирать тот вид спорта, который поможет эти качества развить. Для этого и разрабатывается Информационная система ««Умный комплекс спортивной предрасположенности личности школьника» (ИС «УКСПЛШ») для определения предрасположенности детей к видам спорта».
        </p>
        <p style="font-size: 20px; text-align:justify; margin-right: 315px; margin-left: 300px; text-indent: 3ch;">
            ИС «УКСПЛШ» позволяет определить предрасположенность к виду спорта по антропометрические параметрам и 5и основным физическим характеристикам ребенка: силе, скорости, выносливости, гибкости и координации. И показать на карте спортивную организацию, где проводятся тренировки этого вида спорта.
        </p>
        <p style="font-size: 20px; text-align:justify; margin-right: 315px; margin-left: 300px; text-indent: 3ch;">
            Система нужна для родителей, которые хотят отдать своего ребенка заниматься спортом, но не знают какой вид спорта лучше подобрать для своего ребенка. Таких родителей очень много т.к. подобрать секцию для ребенка хотят все, но не все знают, как определить сильные и слабые стороны и какой вид спорта поможет их развить. Определить слабые и сильные стороны можно с помощью онлайн тестирования самостоятельно, “в домашних условиях” не привлекая специальное оборудование и специалистов, достаточно только доступа в интернет и 1-2 часа свободного времени.
        </p>
    </div>
{% endblock %}