{% extends 'ProgrammUmnKom/Shablon.html' %}

{% block title %}Добавить характеристику{% endblock %}

{% block content %}
    <div class="features">
        <h1>Добавить характеристику</h1>
        {% if request.user|has_group:"Администратор" %}
            <form method="post">
                {% csrf_token %}
                {{ form.nazvanie_harakteristiki }}<br>
                {{ form.opisanie_harakteristiki }}<br>
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Добавить</button><br>
            </form>
        {% else %}
            <h1>НЕТ ДОПУСКА!!!</h1>
        {% endif %}
    </div>
{% endblock %}