{% extends 'ProgrammUmnKom/Shablon.html' %}

{% block title %}Редактировать{% endblock %}

{% block content %}
    <div class="features">
        <h1>Редактировать</h1>
        {% if request.user|has_group:"Администратор" %}
            <form method="post">
                {% csrf_token %}
                {{ form.ID_vida_sporta }}</br>
                {{ form.ID_harakter }}</br>
                <button class="btn btn-success">Добавить</button><br>
            </form>
        {% else %}
            <h1>НЕТ ДОПУСКА!!!</h1>
        {% endif %}
    </div>
{% endblock %}