{% extends 'ProgrammUmnKom/Shablon.html' %}

{% block title %}Редактировать{% endblock %}

{% block content %}
    <div class="features">
        <h1>Редактировать</h1>
        {% if request.user|has_group:"Администратор" %}
            <form method="post">
                {% csrf_token %}
                {{ form.old_password }}<br>
                {{ form.new_password1 }}<br>
                {{ form.new_password2 }}<br>
                <button class="btn btn-success" type="submit">Редактировать</button><br>
            </form>
        {% else %}
            <h1>НЕТ ДОПУСКА!!!</h1>
        {% endif %}
    </div>
{% endblock %}