{% extends 'ProgrammUmnKom/Shablon.html' %}

{% block title %}Упражнение{% endblock %}

{% block content %}
    <div class="features">
        <h1>Упражнение</h1>
        <p>Название: {{ Upr.uprajnen }}</p>
        <p style="text-align:justify; margin-right: 500px; margin-left: 500px; text-indent: 3ch;">Правила выполнения: {{ Upr.pravila_vipolnen }}</p>
        <p>Характеристика: {{ Upr.id_harakter }}</p>
        <p>Возраст: {{ Upr.vozrast }}</p>
        <p>Пол: {{ Upr.pol }}</p>
        <p>Норматив на 6: {{ Upr.normativ_na_6 }}</p>
        <p>Норматив на 5: {{ Upr.normativ_na_5 }}</p>
        <p>Норматив на 4: {{ Upr.normativ_na_4 }}</p>
        {% if request.user|has_group:"Администратор" %}
            <a href="{% url 'Upr-update' Upr.id %}" class="btn btn-info">Редактировать</a>
            <a href="{% url 'Upr-delete' Upr.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
{% endblock %}